<nav class="navbar navbar-expand-lg navbar-light bg-dark  ">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/img/logo1.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" [routerLink]="['/dashboard/home']">MENU
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item text-white">
        <a class="nav-link  text-white" [routerLink]="['/dashboard/mis-ordenes']">MIS PEDIDOS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link  text-white" [routerLink]="['/dashboard/chef-ordenes']">LISTADO ORDENES</a>
      </li>

    </ul>
    <div class="form-inline my-2 my-lg-0">
      <span class="pr-3 text-white">{{usuario}}</span>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="cerrarSesion()">Cerrar sesión</button>
    </div>
  </div>
</nav>