.btn.btn-lg.btn-success{
    left: 15px;
    position: relative;
    top:66px;
}

.rowPedidoChef{
    border: 2px solid red;
    border-radius: 10px;
    background-color: #0000ff08;
    min-height: 157px;
}

.fas.fa-utensils{
    left:10px;
    position: relative;
    top: 45px;
    font-size: 75px;
}

