<div class="container">
  <div *ngFor="let orden of ordenesList; let i = index;">
    <div class="row my-3 rowPedidoChef" *ngIf="orden.estatus === true">
      <div class="col-1 text-center">
        <i class="fas fa-utensils text-success mb-auto mt-auto"></i>
      </div>
      <div class="col ml-5">
        <h4 class="text-center ">Orden: {{i + 1}}</h4>
        <h4>Platillos:</h4>
        <div *ngFor="let plato of orden.platillos">
          <h5 class="mb-0 ml-3">{{plato.nombre}}</h5>
          <p class="ml-3">{{plato.descripcion}}</p>
        </div>
      </div>
      <div class="col-2">
        <button class="btn btn-lg btn-success" (click)="terminado(orden);">Terminado</button>
      </div>
    </div>
  </div>
</div>