<div class="card ">
  <ul class="list-group list-group-flush text-left">
      <h4 class="card-header bg-success " *ngIf="orden.estatus === false; else nocompletada"> Completada <i class="far fa-check-circle"></i></h4>
    <div *ngFor="let platillo of orden.platillos  ">
      <li  class="list-group-item" > 
        <img class="imagen-size" src="{{platillo.imagen}}">
        <span class="pl-4" style="font-size: 25px"> {{platillo.nombre}}</span>
      </li>
    </div>
  </ul>
</div>
<hr>

<ng-template #nocompletada>
    <h4 class="card-header bg-danger ">No Completada <i class="fas fa-times"></i> </h4>
</ng-template>